
<!DOCTYPE HTML>
<!--
	Eventually by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>THE VERY SCARY CIRCUS</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!--[if lte IE 8]><script src="{{ asset('assets/js/html5shiv.js') }}"></script><![endif]-->
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}" />
    <!--[if lte IE 8]><link rel="stylesheet" href="{{ asset('assets/css/ie8.css.css') }}" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="{{ asset('assets/css/ie9.css') }}" /><![endif]-->



    {% block style %} {% endblock %}
</head>
<body>




{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

    <div class="navbar navbar-inverse navbar-fixed-top" >
        <a style="float: left;" class="navbar-brand" href="http://89.234.183.171/jeu"><img style="width:5%;" src="{{asset('assets/img/logo.svg')}}"></a>



        <ul style="float: right;" class="nav navbar-nav">
            <li> <a> <i id="cloche" class="fa fa-bell"  data-toggle="modal" data-target="#myModal5"> </i></a></li>
            <li> <a href="{{ path( 'fos_user_profile_show') }}"> Votre compte {{ app.user.username }}</a></li>

        </ul>
    </div>

{% else %}

    <div class="navbar navbar-inverse navbar-fixed-top" >
        <a style="float: left;" class="navbar-brand" href="/"><img style="width:5%;" src="{{asset('assets/img/logo.svg')}}"></a>
        <ul style="float: right;" class="nav navbar-nav">
            <li><a href="{{ path("fos_user_security_login") }}">Connexion</a></li>
            <li><a href="{{path('fos_user_registration_register') }}">Pas encore de compte ?</a></li>
        </ul>
    </div>

{% endif %}
<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="color:black;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="color:#3f729b;" class="modal-title" id="exampleModalLabel">Notifications</h5>
            </div>
            <div class="modal-body" style="overflow-y: auto; height: 200px;">
            <div id="notif"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>



{% block body %} {% endblock %}


<!-- Scripts -->
<!--[if lte IE 8]><script src="{{ asset('assets/js/respond.min.js') }}"></script><![endif]-->
<script src="{{ asset('assets/js/main.js') }}"></script>

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
<script>
    setInterval(function () {

        $("#notif").load("{{ path('notification')}}");

        $.ajax({
            url : '{{ path('notification2') }}',
            type : 'POST',
            success : function(code_html, statut){ // code_html contient le HTML renvoyé
                console.log("ajax");
                if (code_html == "notif"){
                    console.log('test2');
                    $("#cloche").fadeOut(900).delay(300).fadeIn(800);
                    $("#cloche").css('color', 'red');
                }
            },
            error : function(resultat, statut, erreur){
                console.log("error");
            }
        });

    }, 3000);


</script>
{% endif %}

{% block script %} {% endblock %}
</body>
</html>
